@model WebApp.Models.listActors
@{
    ViewData["Title"] = "Welcome";
}

<!DOCTYPE html>

<html>
<body>
    <h2>Welcome</h2>


    <table>
        @foreach (var item in Model.listActorsNames)
        {
            <tr>
                <td>
                    @item
                </td>
            </tr>
        }
    </table>
</body>
</html>