@{
        ViewData["Title"] = "Welcome";

}
<!DOCTYPE html>

<html>
    <body>
        <h1>Search an actor </h1>

        <form method="POST" action="/Movie/Actors">
            Enter an actor name :
            <input type="text" name="actName" value="" />
            <label>&nbsp;</label>
            <input type="submit" value="Go" class="submit" />
        </form>
    </body>
</html>
