@model WebApp.Models.listActors
@{
    ViewData["Title"] = "Welcome";
}

<!DOCTYPE html>

<html>
<body>
    <h2>Welcome</h2>
    <h3>@ViewBag.PartialName</h3>

    <table>
        @foreach (var item in Model.listActorsNames)
        {
            <tr>
                <td>
                    @item
                </td>
                <td>
                    <form method="POST" action="/Movie/Movies">
                        <label>&nbsp;</label>
                        <input type="hidden" name="fullActName" value=@item />
                        <input type="submit" value="View movies" class="submit" />
                    </form>
                </td>
                <td>
                    <form method="POST" action="/Movie/Comments">
                        <label>&nbsp;</label>
                        <input type="hidden" name="fullActName" value=@item />
                        <input type="submit" value="Add a comment" class="submit" />
                    </form>
                </td>
            </tr>
        }
    </table>
    <form method="POST" action="/Movie/Next">
        <label>&nbsp;</label>
        <input type="hidden" name="actName" value=@ViewBag.PartialName />
        <input type="hidden" name="nbPageActors" value=@ViewBag.nbPageActors />
        <input type="submit" value="Next" class="submit" />
    </form>

    <form method="POST" action="/Movie/Previous">
        <label>&nbsp;</label>
        <input type="hidden" name="actName" value=@ViewBag.PartialName />
        <input type="hidden" name="nbPageActors" value=@ViewBag.nbPageActors />
        <input type="submit" value="Previous" class="submit" />
    </form>

</body>
</html>